@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
/*--- font-family: 'IM Fell English SC', serif; ---*/


*,
*::after,
*::before{
  margin: 0;
  padding:0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}